 /* HEADER PART */
 .content {
     list-style-type: none;
     display: inline-flex;
 }

 .content-link {
     padding-left: 5px;
     margin-left: 5px;
     font-style: italic;
     font-family:  'Times New Roman', serif;
     font-size: 18px;
     text-decoration: none;
     color: chocolate;
 }

 /* FOR SCHOOL NAME */
 @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
    display: flex;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #005D9A;
	font-size: 100px;
}
@media screen and (max-width: 700px) {
    svg {
	font-family: "Russo One", sans-serif;
    display: flex;
	width: 100%; height: 50%;
}
    svg text{
        font-size:27px;
    }
}


@keyframes stroke {
	0%   {
		fill: rgba(255,193,7,0); stroke: rgba(0,93,154,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(255,193,7,0); stroke: rgba(0,93,154,1); }
	80%  {fill: rgba(255,193,7,0); stroke: rgba(0,93,154,1); stroke-width: 3; }
	100% {
		fill: rgba(255,193,7,1); stroke: rgba(0,93,154,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF;

}

 /* FOR NAV BAR */
 #menu {
     top: 0;
     background: #005D9A;
     height: 45px;
     padding-left: 18px;
     border-radius: 10px;
 }

 #menu ul,
 #menu li {
     margin: 0 auto;
     padding: 0;
     list-style: none;
 }

 #menu ul {
     width: 100%;
     text-align: center;
 }

 #menu li {
     display: inline-block;
     position: relative;
 }

 #menu a {
     display: block;
     line-height: 45px;
     padding: 0 14px;
     text-decoration: none;
     color: #FFFFFF;
     font-size: 16px;
 }

 #menu a.dropdown-arrow:after {
     content: "\25BE";
     margin-left: 5px;
 }

 #menu li a:hover {
     color: #FFFFFF;
     background: rgb(173, 129, 0);
 }

 #menu input {
     display: none;
     margin: 0;
     padding: 0;
     height: 45px;
     width: 100%;
     opacity: 0;
     cursor: pointer;
 }

 #menu label {
     display: none;
     line-height: 45px;
     text-align: center;
     position: absolute;
     right: 5px;
     font-size: 1.4em;
     color: #FFFFFF;
 }

 #menu label:before {
     font-size: 1.6em;
     color: #FFFFFF;
     content: "\2261";
     margin-left: 20px;
 }

 #menu ul.sub-menus {
     height: auto;
     overflow: hidden;
     width: 170px;
     background: #005D9A;
     position: absolute;
     z-index: 99;
     display: none;
 }

 #menu ul.sub-menus li {
     display: block;
     text-align: left;
     width: 100%;
 }

 #menu ul.sub-menus a {
     color: #FFFFFF;
     font-size: 16px;
 }

 #menu li:hover ul.sub-menus {
     display: block;
 }

 #menu ul.sub-menus a:hover {
     background: rgb(173, 129, 0);
     color: #444444;
 }

 @media screen and (max-width: 800px) {
     #menu {
         top: 0;
         /* position: static; */
         position: relative;
     }

     #menu ul {
         background: #005D9A;
         position: absolute;
         top: 100%;
         right: 0;
         left: 0;
         z-index: 3;
         height: auto;
         display: none;
         text-align: center;
     }

     #menu ul.sub-menus {
         width: 100%;
         position: static;
         background-color: #A7CFDF;
     }

     #menu ul.sub-menus a {
         padding-left: 50px;
         text-align: center;
     }

     #menu li {
         display: block;
         float: none;
         width: auto;
     }

     #menu input,
     #menu label {
         position: absolute;
         top: 0;
         left: 0;
         display: block;
     }

     #menu input {
         z-index: 4;
     }

     #menu input:checked+label {
         color: #FFFFFF;
     }

     #menu input:checked+label:before {
         content: "\00d7";
     }

     #menu input:checked~ul {
         display: block;
     }
 }

 /* FOR CARD SECTION */
 .card-col {
     background-color: rgba(220, 238, 245, 0.726);
     margin: 5px;
     width: 18rem;
     height: 10rem;
     -webkit-animation: random 7s infinite;
     animation: random 7s infinite;

 }


 @keyframes random {
     15% {
         background-color: rgba(182, 93, 93, 0.774);
     }

     30% {
         background-color: rgb(184, 184, 76);
     }

     45% {
         background-color: rgba(27, 194, 27, 0.719);
     }

     60% {
         background-color: rgb(65, 65, 204);
     }

     75% {
         background-color: white;
     }
 }

 .cardsec {
     background-color: whitesmoke;
     width: 100%;
 }

 .card-col:hover {
     background-color: rgb(113, 212, 212);
     animation: none;
     transform: scale(0.9, 0.9);
     box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
         -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
 }
 
 /* FOR Calender Button */
 .cal{
    text-decoration: none;
    color: blue;
 }

 /* For Footer */
 
    @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    footer {
        padding: 60px 0;
    }

    footer .footer-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    #footer {
        background: #005D9A !important;
    }

    #footer h5 {
        padding-left: 10px;
        border-left: 3px solid #005D9A;;
        padding-bottom: 6px;
        margin-bottom: 20px;
      color: rgb(173, 129, 0);
    }

    #footer a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer ul.social li {
        padding: 3px 0;
    }

    #footer ul.social li a i {
        margin-right: 5px;
        font-size: 25px;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

    #footer ul.social li:hover a i {
        font-size: 30px;
        margin-top: -10px;
        
    }

    #footer ul.social li a,
    #footer ul.quick-links li a {
        color: #ffffff;
    }

    #footer ul.social li a:hover {
        color: rgb(173, 129, 0);
    }

    #footer ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

    #footer ul.quick-links li:hover {
        padding: 3px 0;
        margin-left: 5px;
        font-weight: 700;
        
        
    }

    #footer ul.quick-links li a i {
        margin-right: 5px;
    }

    #footer ul.quick-links li:hover a i {
        font-weight: 700;
        color: rgb(173, 129, 0);
    }

    @media (max-width:767px) {
        #footer h5 {
            padding-left: 0;
            border-left: transparent;
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    }.row{
        --bs-gutter-x: -5.5rem;
    }
